*{
  font-family: 'Roboto', sans-serif;  
}

/* classi riutilizzabili */

.pa-text-white{
  color:white;
}

.pa-text-blue{
  color: #006bff;
}

.pa-text-grey{
  color: grey;
}

.pa-margin-top{
  margin-top: 80px;
}

.pa-margin-bot{
  margin-bottom: 80px;
}

.pa-wrapper-60{
  width: 60%;
  margin: 0 auto;
}

.pa-wrapper-40{
  width: 40%;
  margin: 0 auto;
}

.pa-padding-80{
  padding: 80px 0;
}

.container-80{
  width: 80%;
  margin: auto;
}

.w-100{
  width: 100%;
}

/* navbar */

#nav-bar{
  position: fixed;
  height: 80px;
  background-color: white;
  width: 100%;
  z-index: 999;
  white-space: nowrap;
}

.logo-navbar-img img{
  width: 180px;
  height:55px;
  padding-top: 22px;
}

#nav-bar ul a{
  display: inline-block;
  text-decoration: none;
  margin-right: 20px; 
  color: black;
  font-size: 16px;
  line-height: 80px;
}

#nav-bar ul .btn{
  font-size: 16px;
    border: 1px solid #006aff;
}


/* jumbotron */

#jumbotron{
  width: 100%;
  padding-top: 80px;
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;  
}

#jumbotron h1{
  font-size: 72px;
}

#jumbotron p{
  font-size: 22px;
}

#jumbo-form{
  background-color: white;
  border-radius: 10px;
  line-height: 20px;
  margin: 40px 0;
}

#jumbo-form .btn-primary{
  background-color:#006aff;
}

#google-btn{
  width: 4%;
}

#jumbo-form p{
  font-size: 12px;
}

#jumbo-form a{
  text-decoration: underline;
}

/* partners */

#partners{
  background-color:#f3f5f9;
}

#partners a{
  font-size: 16px;
  font-weight: 500;
}

#partners .col-xs-12{
  margin: 30px 0;
}

/* info */

